
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap');

:root {
    --primary-color: #453726;
    --secondary-color: #955b0f; 
    --accent1-color: #F18805;
    --accent2-color: #D95D39;

    --heading-font: 'Roboto', sans-serif; 
    --paragraph-font: 'Montserrat', sans-serif; 

    --nav-background-color: #d95d39;
    --nav-link-color: #7d4549;
    --nav-hover-link-color: #581F18;
    --nav-hover-background-color: #f18805;
}

body {
    font-family: var(--paragraph-font); 
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: var(--primary-color);
}

p {
    padding: 25px;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
