.callout {
	width: 430px;
	margin: 15px;
	border: 15px solid rgba(11, 11, 11, 0.1);
	padding: 10px;
	background-color: rgb(110, 184, 86);
	color: #fff;
}

.callout img {
	float: right;
	margin: 0 0 10px 15px;
	border: 0.5px solid #000;
	padding: 3px;
	background-color: #e1b2b2;
	width: 110px;
	height: auto;
	box-shadow: 0 0 30px rgb(255, 254, 254);

}

blockquote {
	margin: 0;
}

cite {
	display: block;
	border-top: 1px dotted #fff;
	padding-top: 3px;
	text-align: right;
	font-size: smaller;
}