@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;

}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
    
}

main {
    grid-column: 2;
    margin: 1rem;
}

.box {
    margin: 1rem;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    padding: 1rem;
    background-color: #ddd;
    color: #000000;
}

/* class selectos */
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #c30505;
    z-index: 1;
}

aside.box h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.614);
    z-index: -1;
}

aside img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

aside.box p {
    font-size: 0.9rem;
    padding-top: 5px;
}

h1 {
    color: steelblue;
    text-align: center;
    border-bottom: 2px solid  steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 0; 
    z-index: 1;
    float: right;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.left-content {
    flex: 1;
    text-align: justify;
    position: relative;
    z-index: 2; 
    margin-right: 220px; 
}

ul.box li {
    margin-left: 20px;
}

p {
    padding: 0;
}

footer {
    
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000; 
    margin-top: auto; 
}
